@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap");
body {
  background-image: url(../public/sfondo.jpg);
  font-family: "Raleway", sans-serif;
}

.weather-card-now {
  background-color: white;
  border-radius: 10px;
}
.weather-card-now p {
  margin: 0;
}
.city {
  margin: 0;
}
.temp {
  font-size: 1.8em;
}
.temp-min {
  color: blue;
  font-size: 1em;
}
.temp-max {
  color: red;
  font-size: 1em;
}

.descr {
  font-size: 1.5em;
  text-transform: capitalize;
  margin: 0;
}

.forecast-card-hour {
  background-color: white;
  padding: 0;
}
.forecast-card-hour .temp {
  font-size: 1em;
  margin-bottom: 5px;
}
.forecast-card-hour .temp-min {
  font-size: 0.8em;
  margin: 0;
}
.forecast-card-hour .time {
  margin-top: 10px;
}

option.city {
  cursor: pointer;
}
option.city:hover {
  background-color: white;
}
